<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>

  </startup>

  <connectionStrings>
    <add name="conStr" connectionString="Data Source=DESKTOP-RED181G\OANASQL; Initial Catalog = NBAChampionship; Integrated Security = true"/>
  </connectionStrings>
  <!--Parent:Coach, Child:Team-->
  <appSettings>
    <add key="ParentSelectCmd" value="SELECT * FROM Coach"/>
    <add key="idParent" value="id_coach"/>
    <add key="ChildSelectCmd" value="SELECT * FROM Team"/>
    <add key="ChildInsertCmd" value="INSERT INTO Team(name,id_coach) VALUES(@value1,@value2)"/>
    <add key="ChildUpdateCmd" value="UPDATE Team SET name=@value1, id_coach=@value2 WHERE id_team=@value3"/>
    <add key="ChildDeleteCmd" value="DELETE FROM Team WHERE id_team=@value"/>
  </appSettings>

</configuration>
